{% load wagtailcore_tags wagtailimages_tags %}

<div class="featured-content-block">
    {% if self.image %}
        {% image self.image width-800 as featured_image %}
        <img src="{{ featured_image.url }}" alt="{{ self.headline }}" class="featured-image">
    {% endif %}
    
    <h2>{{ self.headline }}</h2>
    
    {% if self.description %}
        <p>{{ self.description }}</p>
    {% endif %}
    
    {% if self.link %}
        <a href="{{ self.link }}" class="btn btn-primary">Learn more</a>
    {% endif %}
</div>
